[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C=US
ST=Massachusetts
L=Dedham
O=Mike McGrath, Software Engineer
OU=Code
emailAddress=mike@mmcgrath.dev
CN=mmcgrath.io